#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.newssel_nei_op.active{
    background: #FFFFFF;
    color: #c70505 !important;
    font-weight: bolder;
}

.newsxxk a {
    cursor: pointer;
}

.pcto_menu_a{
    cursor: default;
}

.pcto_xl a {
    cursor: pointer;
}


.neimenu a.active{
    color: #de0a1e;
    border: #de0a1e solid 1px;
}