<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <script src="js/shover.min.js"></script>
    <style></style>
</head>
<body>
<div id="app">
    <div id="header"></div>
    <div id="flexslider">
        <div id="ban">
            <div class="jiantou_box">
                <div class="jiantou">
                    <div class="jiantou_left"></div>
                    <div class="jiantou_right"></div>
                </div>
            </div>
            <ul class="ban_bj">

                <li v-for="item in listCarousel" :key="item.id"
                    style="background: no-repeat center top; background-size:cover;"
                    v-bind:style="{ backgroundImage: 'url(' + item.url + ')' }"/>
            </ul>
            <div class="dian">
                <ul class="ul_dian">
                </ul>
            </div>
        </div>
    </div>
    <div class="indextitle">
        <div class="indextitle1">
            Service quality
        </div>
        <div class="indextitle2">
            技术优势
        </div>
    </div>
    <div class="index1">
        <div>
            <a v-for="item in listAdvantage" :key="item.id" @click="handleToPage(item.id)">
                <div>
                    <div class="index1_img">
                        <div>
                            <img :src="item.url"/>
                        </div>
                    </div>
                    <div class="index1_title">
                        {{item.cnName}}
                    </div>
                    <div class="index1_en">
                        {{item.enName}}
                    </div>
                    <div class="index1_bottom">
                        <div></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="indexpro">
        <div class="indextitle">
            <div class="indextitle1">
                Product Center
            </div>
            <div class="indextitle2">
                产品中心
            </div>
        </div>
        <div class="clear"></div>
        <div class="prosel">
            <div class="prosel_nei" v-for="item in productTabs" :key="item.id" @click="handleProTabs(item.id)" >
                <div>
                    {{item.categoryName}}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="prosel_xian">
            <div></div>
        </div>
        <div class="proxxk">
            <div class="proxxk_xun">
                <div class="proxxk_xun_sel">
                    <div class="proxxk_xun_left">
                        <img src="picture/tupian3.jpg" class="img1"/>
                        <img src="picture/tupian3s.jpg" class="img2"/>
                    </div>
                    <div class="proxxk_xun_right">
                        <img src="picture/tupian4.jpg" class="img1"/>
                        <img src="picture/tupian4s.jpg" class="img2"/>
                    </div>
                </div>
                <div class="proxxk_xun_box">
                    <div class="pxb_xun" :style="pxbXun">


                        <a @click="handeToPro(item.id)" v-for="item in productList" :key="item.id">
                            <div class="pxb_xun_img sHoverItem">
                                <div class="ban sIntro">
                                    <img src="picture/bg23.png"/>
                                </div>
                                <img class="titlepic" :src="item.cover"/>
                            </div>
                            <div class="pxb_xun_title">
                                {{item.pname}}
                            </div>
                            <div class="pxb_xun_time">
                                {{item.describe}}
                            </div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indexabout">
        <div class="indextitle">
            <div class="indextitle1">
                about
            </div>
            <div class="indextitle2">
                公司简介
            </div>
        </div>
        <div class="clear"></div>
        <div class="indexabout_box">
            <div class="indexabout_text fl" v-html="about">
                <p style="text-align:center;"><a href="about.html" class="indexabout_link">查看详细&gt;&gt;</a></p>
            </div>
            <div class="indexabout_img fr">
                <img src="picture/tupian5.jpg"/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="iaov">
            <img src="picture/bg38.png" class="iaov1"/>
            <img src="picture/bg38s.png" class="iaov2"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="indexnews">
        <div class="indextitle">
            <div class="indextitle1">
                NEWS
            </div>
            <div class="indextitle2">
                新闻动态
            </div>
        </div>
        <div class="clear"></div>
        <div class="newssel">
            <div class="newssel_nei">
                <div class="newssel_nei_op" v-for="(item , index) in newsIndices" :key="index" :class="{'active':(index == selectedNews)}" @click="handleTabNews(index)">
                    {{item.name}}
                </div>
            </div>
        </div>
        <div class="indexnesqiehuan">
            <div class="newsxxk">

                <a @click="handleNewsItem(item)" v-for="item in newsList" :key="item.id">
                    <div class="newsxxk_img">
                        <img :src="item.coverImg" width="170px" height="170px"/>
                    </div>
                    <div class="newsxxk_text">
                        <div class="newsxxk_time">
                            {{item.createTime}}
                        </div>
                        <div class="newsxxk_title">
                            {{item.title}}
                        </div>
                        <div class="newsxxk_small" v-html="item.subTitle">

                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer"></div>
</div>

<!--  <script src="js/require.js"></script>-->
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<!--  <script src="js/npm.js"></script> -->
<!--<script src="js/indexglobal.js"></script>-->
<!--<script src="js/global.js"></script>-->
<script src="js/http.js"></script>
<script src="js/common.js"></script>
<script>
    window.onload = function () {


        var a = new sHover("sHoverItem", "sIntro");
        a.set({
            slideSpeed: 5,
            opacityChange: true,
        });

    };
</script>


</body>

<script>

    // $(function () {
    //     alert(typeof gethttp)
    //     loadHeaderFooter(getVue)
    // })


    loadHeaderFooter(getVue)
    function getVue(){
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    pageName: 'index',
                    // index:{},
                    listCarousel: [],
                    listAdvantage: [],
                    listColumn: [],
                    listProduct: [],
                    webcompany: {},
                    about: '',
                    newsIndices: [

                    ],
                    newsList:[],
                    selectedNews:0,
                    selProTab:"",

                    productList:[],
                    productTabs:[],
                }
            },
            computed: {
                pxbXun: function () {
                    return {
                        width: (this.listProduct.length * 283 + "px")
                    }
                },
                newsItems1:function () {
                    console.log('this.newsIndices[this.selectedNews]' ,this.newsIndices[this.selectedNews].list)
                    return this.newsIndices[this.selectedNews].list
                },
                // newsItems2:function () {
                //     return this.newsIndices[this.selectedNews].list.slice(2)
                // },
                proTabs:function () {
                    for(item of this.listColumn){
                        if(item.categoryState == 3){
                           return item.children
                        }
                    }

                    return []
                }
            },
            mounted() {
                var self = this;
                getIndex().then(function (data){
                    console.log("load data jquery:"  ,data)

                    self.index = data;
                    self.listCarousel = self.index.listCarousel;
                    self.listAdvantage = self.index.listAdvantage;
                    self.listProduct = self.index.listProduct;
                    self.listColumn = self.index.listColumn;
                    self.webcompany = self.index.webcompany;
                    self.about = self.index.about;
                    self.newsIndices = self.index.newsIndices;
                    self.newsList = self.newsIndices[self.selectedNews].list


                    for(item of self.listColumn){
                        if(item.categoryState == 3 && item.children.length > 0){
                            self.productId = item.children[0].id
                            self.getProduct()
                        }
                    }
                    // self.productId =

                    setTimeout(function () {
                        loadBootstrap()
                    }, 300)
                })

                // this.getProduct()
            },

            methods: {
                getProduct:function () {
                    var self = this
                    getProduct(this.productId , 1).then(function (data) {
                        console.log("prod" , data)
                        self.productList = data.list
                        self.productTabs = data.column.children
                        // self.categoryName = data.column.categoryName

                        // self.pageNum = data.pageUtil.pageNum
                        // self.pages = data.pageUtil.pages
                        // self.total = data.pageUtil.total

                        // setTimeout(function () {
                        //     loadBootstrap()
                        // }, 300)
                    })
                },
                handleProTabs:function(item){
                    this.productId = item
                    this.getProduct()
                },
                handleNewsItem:function( item){
                    console.log("e :" , item)
                    navPage("./news_article.html?id=" + item.id)

                },
                handleToPage:function(id){
                    url = "./page.html"
                    url = formateUrl(url , "id" , id)


                    navPage(url)
                },
                handleSubMenu:function(item , sub){
                    handleSubMenu(item , sub)
                },
                handlePhoneMenu:function (e) {
                    handleSubMenuPhone(e, this.index)
                },
                handleTabNews:function(index){
                    // alert(index)
                    this.selectedNews = index
                    var arr = [].concat(this.newsIndices[this.selectedNews].list)
                    console.log("arr" , arr)
                    this.newsList = arr
                },
                handeToPro:function (id) {
                    navPage("./products_article.html?id="+id)
                }
            }

        })
    }

</script>
</html>
