<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <script src="js/shover.min.js"></script>
    <style></style>
</head>
<body>
<div id="app">
    <div id="header"></div>
    <div id="flexslider">
        <div id="ban">
            <div class="jiantou_box">
                <div class="jiantou">
                    <div class="jiantou_left"></div>
                    <div class="jiantou_right"></div>
                </div>
            </div>
            <ul class="ban_bj">

                <li v-for="item in listCarousel" :key="item.id"
                    style="background: no-repeat center top; background-size:cover;"
                    v-bind:style="{ backgroundImage: 'url(' + item.url + ')' }"/>
            </ul>
            <div class="dian">
                <ul class="ul_dian">
                </ul>
            </div>
        </div>
    </div>
    <div class="indextitle">
        <div class="indextitle1">
            Service quality
        </div>
        <div class="indextitle2">
            技术优势
        </div>
    </div>
    <div class="index1">
        <div>
            <a v-for="item in listAdvantage" :key="item.id" href="javascript:void(0)">
                <div>
                    <div class="index1_img">
                        <div>
                            <img :src="item.url"/>
                        </div>
                    </div>
                    <div class="index1_title">
                        {{item.cnName}}
                    </div>
                    <div class="index1_en">
                        {{item.enName}}
                    </div>
                    <div class="index1_bottom">
                        <div></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="indexpro">
        <div class="indextitle">
            <div class="indextitle1">
                Product Center
            </div>
            <div class="indextitle2">
                产品中心
            </div>
        </div>
        <div class="clear"></div>
        <div class="prosel">
            <div class="prosel_nei">
                <div>
                    产品分类
                </div>
                <div>
                    产品分类
                </div>
                <div>
                    产品分类
                </div>
                <div>
                    产品分类
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="prosel_xian">
            <div></div>
        </div>
        <div class="proxxk">
            <div class="proxxk_xun">
                <div class="proxxk_xun_sel">
                    <div class="proxxk_xun_left">
                        <img src="picture/tupian3.jpg" class="img1"/>
                        <img src="picture/tupian3s.jpg" class="img2"/>
                    </div>
                    <div class="proxxk_xun_right">
                        <img src="picture/tupian4.jpg" class="img1"/>
                        <img src="picture/tupian4s.jpg" class="img2"/>
                    </div>
                </div>
                <div class="proxxk_xun_box">
                    <div class="pxb_xun" :style="pxbXun">


                        <a href="products_article.html" v-for="item in listProduct" :key="item.id">
                            <div class="pxb_xun_img sHoverItem">
                                <div class="ban sIntro">
                                    <img src="picture/bg23.png"/>
                                </div>
                                <img class="titlepic" :src="item.cover"/>
                            </div>
                            <div class="pxb_xun_title">
                                {{item.pname}}
                            </div>
                            <div class="pxb_xun_time">
                                {{item.describe}}
                            </div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="indexabout">
        <div class="indextitle">
            <div class="indextitle1">
                about
            </div>
            <div class="indextitle2">
                公司简介
            </div>
        </div>
        <div class="clear"></div>
        <div class="indexabout_box">
            <div class="indexabout_text fl" v-html="about">
                <p style="text-align:center;"><a href="about.html" class="indexabout_link">查看详细&gt;&gt;</a></p>
            </div>
            <div class="indexabout_img fr">
                <img src="picture/tupian5.jpg"/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="iaov">
            <img src="picture/bg38.png" class="iaov1"/>
            <img src="picture/bg38s.png" class="iaov2"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="indexnews">
        <div class="indextitle">
            <div class="indextitle1">
                NEWS
            </div>
            <div class="indextitle2">
                新闻动态
            </div>
        </div>
        <div class="clear"></div>
        <div class="newssel">
            <div class="newssel_nei">
                <div class="newssel_nei_op" v-for="(item , index) in newsIndices" :key="index" :class="{'active':(index == selectedNews)}" @click="selectedNews=index">
                    {{item.name}}
                </div>
            </div>
        </div>
        <div class="indexnesqiehuan">
            <div class="newsxxk">

                <a @click="handleNewsItem(item)" v-for="item in newsItems1" :key="item.id">
                    <div class="newsxxk_img">
                        <img :src="item.coverImg" width="170px" height="170px"/>
                    </div>
                    <div class="newsxxk_text">
                        <div class="newsxxk_time">
                            {{item.createTime}}
                        </div>
                        <div class="newsxxk_title">
                            {{item.title}}
                        </div>
                        <div class="newsxxk_small" v-html="item.content.slice(0,73)+'...'">

                        </div>
                    </div>
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer"></div>
</div>

<!--  <script src="js/require.js"></script>-->
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<!--  <script src="js/npm.js"></script> -->
<script src="js/indexglobal.js"></script>
<!--<script src="js/global.js"></script>-->
<script src="js/http.js"></script>
<script src="js/common.js"></script>
<script>
    window.onload = function () {


        var a = new sHover("sHoverItem", "sIntro");
        a.set({
            slideSpeed: 5,
            opacityChange: true,
        });

    };
</script>


</body>

<script>

    // $(function () {
    //     alert(typeof gethttp)
    //     loadHeaderFooter(getVue)
    // })


    loadHeaderFooter(getVue)
    function getVue(){
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    name: '大漠',
                    count: 0, firstName: 'Walter',
                    lastName: 'White',
                    alias: 'Heisenberg',
                    // index:{},
                    listCarousel: [],
                    listAdvantage: [],
                    listColumn: [],
                    listProduct: [],
                    webcompany: {},
                    about: '',
                    newsIndices: [{
                        list:[]
                    }],
                    selectedNews:0,
                }
            },
            computed: {
                pxbXun: function () {
                    return {
                        width: (this.listProduct.length * 283 + "px")
                    }
                },
                newsItems1:function () {
                    return this.newsIndices[this.selectedNews].list.slice(0 )
                },
                newsItems2:function () {
                    return this.newsIndices[this.selectedNews].list.slice(2)
                }
            },
            mounted() {
                var self = this;
                getIndex().then(function (data){
                    console.log("load data jquery:"  ,data)

                    self.index = data;
                    self.listCarousel = self.index.listCarousel;
                    self.listAdvantage = self.index.listAdvantage;
                    self.listProduct = self.index.listProduct;
                    self.listColumn = self.index.listColumn;
                    self.webcompany = self.index.webcompany;
                    self.about = self.index.about;
                    self.newsIndices = self.index.newsIndices;

                    setTimeout(function () {
                        loadBootstrap()
                    }, 300)
                    // loadBootstrap()
                })



                // $.getScript( "./js/global.js" , function (s) {
                //     // var s = document.createElement("script");
                //     // s.type = "text/javascript";
                //     // s.src = "js/global.js";
                //     // // Use any selector
                //     // $("body").append(s);
                // });


            },
            /*
            *  "newsIndices": [
          {
            "list": [
              {
                "content": "string",
                "contenttype": "string",
                "coverImg": "string",
                "createTime": "string",
                "field": "string",
                "id": 0,
                "isDel": 0,
                "sort": 0,
                "subTitle": "string",
                "title": "string",
                "type": 0,
                "typeName": "string"
              }
            ],
            "name": "string"
          }
        ],
        "webcompany": {
          "address": "string",
          "email": "string",
          "id": 0,
          "phone": "string"
            * */
            methods: {
                handleNewsItem:function( item){
                    console.log("e :" , item)

                },
                handleSubMenu:function(item , sub){
                    handleSubMenu(item , sub)
                },
                initMobMenu: function () {
                    var a = -1, ind;
                    $(".moxl_xun_img1").click(function () {
                        // alert('click')
                        $(".moxl_xun_img1").show();
                        $(this).hide();
                        $(".moxl_xun_img2").hide();
                        $(this).next().show();
                        $(".moxl_erji").slideUp();
                        ind = $(this).parents(".moxl_xun").index();
                        if (a != ind) {
                            $(this).parents(".moxl_xun").find(".moxl_erji").slideDown();
                            a = ind;
                        } else {
                            a = -1;
                        }
                    });
                    $(".moxl_xun_img2").click(function () {
                        $(".moxl_xun_img1").show();
                        $(this).hide();
                        $(".moxl_xun_img2").hide();
                        $(".moxl_erji").slideUp();
                        a = -1;
                    });
                }
            }
            // methods: {
            //  increase: function () {
            //   this.count++
            //  }
            // }
        })
    }

    // var Profile = Vue.extend({
    //  template: '<div>{{lastName}}</div>',
    //  data: function () {
    //   return {
    //    firstName: 'Walter',
    //    lastName: 'White',
    //    alias: 'Heisenberg'
    //   }
    //  }
    // })
    // // 创建 Profile 实例，并挂载到一个元素上。
    // new Profile().$mount('#app')


    //GET /api/index/kideDes   这里点击head的主标题的子菜单获取 文章列表
    //然后列表选择显示文章



    /*
    * {
    "message": "string",
    "path": "string",
    "rows": {
      "about": "string",
      "listAdvantage": [
        {
          "cnName": "string",
          "enName": "string",
          "id": 0,
          "isDel": 0,
          "listType": 0,
          "standardName": "string",
          "type": 0,
          "url": "string"
        }
      ],
      "listCarousel": [
        {
          "cnName": "string",
          "enName": "string",
          "id": 0,
          "isDel": 0,
          "listType": 0,
          "standardName": "string",
          "type": 0,
          "url": "string"
        }
      ],
      "listColumn": [
        {
          "categoryName": "string",
          "categoryState": 0,
          "children": [
            {}
          ],
          "enName": "string",
          "id": 0,
          "parentId": 0,
          "state": 0
        }
      ],
      "listProduct": [
        {
          "cover": "string",
          "describe": "string",
          "id": 0,
          "pname": "string"
        }
      ],
      "webcompany": {
        "address": "string",
        "email": "string",
        "id": 0,
        "phone": "string",
        "telephone": "string"
      }
    },
    "status": "string"
  }
    * */


</script>
</html>
