<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>

    <link href="css/index.css" rel="stylesheet"/>
    <style></style>
</head>
<body style="background:#f5f1f1;">
<div id="app">


    <div id="header"></div>
    <div class="neibanner"
         style="background:url(images/banner_product.jpg) no-repeat 50%; background-size: cover;"></div>
    <div class="probox">
        <div class="proxiala">
            <div class="proxiala_chakan">
                查看更多产品类型
            </div>
            <div class="proxiala_menu">
                <a v-for="(item , index) in productTabs" :key="item.id"
                @click="handleTab(item)"
                >{{item.categoryName}}</a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="probox_left">
            <div class="protitle">
                <div>
                    <div class="protitle1" style="margin-bottom: 20px;">
                        {{categoryName}}
                    </div>
                    <div class="protitle2">
                        products
                    </div>
                </div>
            </div>
            <div class="proleft_xiala">
                <a v-for="(item , index) in productTabs" :key="item.id"
                   @click="handleTab(item)"
                   :class="{'active':item.id==id}"
                >{{item.categoryName}}</a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="probox_right">
<!--            <div class="description" style="text-indent: 2em;margin-bottom: 10px;">这里是产品描述，可以在后台对应的板块添加</div>-->
            <div class="proboxline">
                <div class="proboxline_box">
                    <a
                    v-for="item in productList" :key="item.id"
                    @click="handleProDetail(item.id)"
                    >
                        <div class="proimg_img">
                            <img :src="item.cover"/>
                        </div>
                        <div class="proimg_title">
                            {{item.categoryName}}
                        </div>
                        <div class="proimg_time">
                            {{item.createtime}}
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="pagess">
                <ul>
                    <li @click="handleHome">首页</li>
                    <li v-for="i in pages" :key="i"
                    :class="{'thisclass':i==pageNum}"
                        @click="handlePage(i)"
                    >{{i}}</li>

<!--                    <li class="thisclass">1</li>-->
<!--                    <li><a href="products.html">2</a></li>-->
                    <li><a @click="handleNext">下一页</a></li>
                    <li><a @click="handleEnd">末页</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer"></div>
</div>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<!--  <script src="js/npm.js"></script> -->
<!--<script src="js/indexglobal.js"></script>-->
<!--<script src="js/global.js"></script>-->
<script src="js/http.js"></script>
<script src="js/common.js"></script>
<script>

    loadHeaderFooter(getVue)
    function getVue(){
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    pageName: 'products',
                    // index:{},
                    listCarousel: [],
                    listAdvantage: [],
                    listColumn: [],
                    listProduct: [],
                    webcompany: {},
                    about: '',
                    newsIndices: [{
                        list:[]
                    }],
                    selectedNews:0,

                    pageNum:1,
                    pages: 0,
                    total: 0,
                    productList:[],
                    productTabs:[],
                    categoryName:'',
                    id:''
                }
            },
            computed: {
                pxbXun: function () {
                    return {
                        width: (this.listProduct.length * 283 + "px")
                    }
                },
                newsItems1:function () {
                    return this.newsIndices[this.selectedNews].list.slice(0 )
                },
                newsItems2:function () {
                    return this.newsIndices[this.selectedNews].list.slice(2)
                }
            },
            mounted() {
                var self = this;
                getIndex().then(function (data){
                    console.log("load data jquery:"  ,data)

                    self.index = data;
                    self.listCarousel = self.index.listCarousel;
                    self.listAdvantage = self.index.listAdvantage;
                    self.listProduct = self.index.listProduct;
                    self.listColumn = self.index.listColumn;
                    self.webcompany = self.index.webcompany;
                    self.about = self.index.about;
                    self.newsIndices = self.index.newsIndices;


                })

                this.id = getParameterByName("id")

                this.getProduct()

            },
            methods: {
                handleHome:function(){
                    this.pageNum = 1;
                    this.getProduct()
                },
                handlePage:function(i){
                    this.pageNum = i;
                    this.getProduct()
                },
                handleNext:function(){
                    if(this.pages <= this.pageNum){
                        return
                    }
                    this.pageNum += 1;
                    this.getProduct()
                },
                handleEnd:function(){
                    this.pageNum = this.pages;
                    this.getProduct()
                },
                handleNewsItem:function( item){
                    console.log("e :" , item)

                },
                handleTab:function(tab){
                    this.id = tab.id
                    this.pageNum = 1;
                    this.getProduct()
                },
                handleSubMenu:function(item , sub){
                    handleSubMenu(item , sub)
                },
                getProduct:function () {
                    var self = this
                    getProduct(this.id , this.pageNum).then(function (data) {
                        console.log("prod" , data)
                        self.productList = data.list
                        self.productTabs = data.column.children
                        self.categoryName = data.column.categoryName

                        self.pageNum = data.pageUtil.pageNum
                        self.pages = data.pageUtil.pages
                        self.total = data.pageUtil.total

                        setTimeout(function () {
                            loadBootstrap()
                        }, 300)
                    })
                },
                handlePhoneMenu:function (e) {
                    handleSubMenuPhone(e, this.index)
                },
                handleProDetail:function (id) {
                    navPage("./products_article.html?id="+id)
                }
            }
        })
    }



</script>
</body>
</html>
