<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>

    <link href="css/index.css" rel="stylesheet"/>
    <style></style>
</head>
<body>
<div id="app">
    <div id="header"></div>


    <div class="neibanner" style="background:url(images/banner_news.jpg) no-repeat 50%; background-size: cover;"></div>
    <div class="newsnav">
        <span>您当前的位置:</span>
        <a href="index.html">主页</a> &gt;
        <a @click="handleToPro">产品中心</a> &gt;
        <a href="#">{{nowColum}}</a> &gt;
    </div>
    <div class="newneititle">
        <div>
            <div class="newstitle">
                <h1>{{pname}}</h1>
            </div>
            <div class="newstitle2">
                <span>发表于：{{createtime}}</span>
                <!--                <span style="margin-right:0;">来源：http://www.nestcms.com</span>-->
            </div>
        </div>
    </div>
    <div class="about" >
        <div v-html="content" >

        </div>
        <div class="tag jianju">相关标签:产品详情</div>
        <p @click="handlePre">上一个：{{pre}}</p>
        <p @click="handleNext">下一个：{{next}}</p>
        <div class="related_list">
            <h4>相关新闻</h4>
            <ul>
                <li  @click="handleNews(item)"
                     v-for="item in listNews" :key="item.id"><a
                       >{{item.title}}</a><span>{{item.createTime}}</span></li>

            </ul>
        </div>
        <div class="related_cp">
            <h4>相关产品</h4>
            <ul class="row">
                <li class="col-md-3 col-sm-6 text-center"
                    v-for="item in listPro" :key="item.id"
                    @click="handleProDetails(item.id)"
                >
                    <div><img :src="item.cover" class="img-responsive"></div>
                    <span><a >{{item.pname}}</a></span>
                </li>

            </ul>
        </div>
    </div>
    <div id="footer"></div>

</div>
<!--  <script src="js/require.js"></script>-->
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<!--  <script src="js/npm.js"></script> -->
<!--<script src="js/indexglobal.js"></script>-->
<!--<script src="js/global.js"></script>-->
<script src="js/http.js"></script>
<script src="js/common.js"></script>

<script>

    // $(function () {
    //     alert(typeof gethttp)
    //     loadHeaderFooter(getVue)
    // })


    loadHeaderFooter(getVue)

    function getVue() {
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    pageName: 'index',
                    // index:{},
                    listCarousel: [],
                    listAdvantage: [],
                    listColumn: [],
                    listProduct: [],
                    webcompany: {},
                    about: '',
                    newsIndices: [{
                        list: []
                    }],
                    selectedNews: 0,

                    hrefList:[],
                    keepOnRecord:"",
                    companyName:"",
                    logo:"",

                    listNews: [],
                    listPro: [],
                    lower: {},
                    upper: {},
                    content: '',
                    createtime: '',
                    nowColum: '',
                    pname: '',
                }
            },
            computed: {
                pre: function () {
                    return this.upper && this.upper.isHas == 1 ? this.upper.pname : "没有了"
                },
                next: function () {
                    return this.lower && this.lower.isHas == 1 ? this.lower.pname : "没有了"
                },

                pxbXun: function () {
                    return {
                        width: (this.listProduct.length * 283 + "px")
                    }
                },
                newsItems1: function () {
                    return this.newsIndices[this.selectedNews].list.slice(0)
                },
                newsItems2: function () {
                    return this.newsIndices[this.selectedNews].list.slice(2)
                }
            },
            mounted() {
                var self = this;
                getIndex().then(function (data) {
                    console.log("load data jquery:", data)

                    self.index = data;
                    self.listCarousel = self.index.listCarousel;
                    self.listAdvantage = self.index.listAdvantage;
                    self.listProduct = self.index.listProduct;
                    self.listColumn = self.index.listColumn;
                    self.webcompany = self.index.webcompany;
                    self.about = self.index.about;
                    self.newsIndices = self.index.newsIndices;

                    self.hrefList = self.index.hrefList;
                    self.keepOnRecord = self.index.keepOnRecord;
                    self.companyName = self.index.companyName;
                    self.logo = self.index.logo;

                    setTimeout(function () {
                        loadBootstrap()
                    }, 300)
                })

                this.id = getParameterByName("id")

                this.getProductDes()
            },

            methods: {
                handleToPro:function(){
                    var list = this.index.listColumn
                    for(item of list){
                        if(item.categoryState == 3){
                            return handleSubMenu(item , item.children[0])
                        }
                    }
                },
                handleNews: function (item) {

                },
                handlePre: function () {
                    if (this.upper && this.upper.isHas == 1) {
                        navPage("./products_article.html?id=" + this.upper.id)
                    }
                },
                handleNext: function () {
                    if (this.lower && this.lower.isHas == 1) {
                        navPage("./products_article.html?id=" + this.lower.id)
                    }
                },
                handleProDetails: function (id) {
                    navPage("./products_article.html?id=" + this.lower.id)
                },
                handleNewsItem: function (item) {
                    console.log("e :", item)

                },
                handleSubMenu: function (item, sub) {
                    handleSubMenu(item, sub)
                },
                handlePhoneMenu: function (e) {
                    handleSubMenuPhone(e, this.index)
                },
                getProductDes: function () {
                    var self = this
                    getProductDes(this.id, this.pageNum).then(function (data) {
                        console.log("prod details", data)
                        self.listNews = data.listNews
                        self.listPro = data.listPro
                        self.lower = data.upper
                        self.upper = data.lower
                        self.content = data.content
                        self.createtime = data.createtime
                        self.nowColum = data.nowColum
                        self.pname = data.pname

                        setTimeout(function () {
                            loadBootstrap()
                        }, 300)
                    })
                }
            }

        })
    }

</script>
</body>
</html>
